<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="style.css">-->
    <title>Document</title>
</head>
<body>
    <form id="addform">
        <h1>Expence Tracker</h1>

    <label for="expence">Choose expense-amount:</label><br>
    <input type="number" id="expence"><br>
    <label for="description">Choose description:</label><br>
    <input type="text" id="description"><br>
    <label for="category">Choose a category:</label><br>
  <select id="category" name="category">
    <option value="rent">rent</option>
    <option value="drinks">drinks</option>
    <option value="food">food</option>
    <option value="fuel">Fuel</option>
    <option value="ticket">Ticket</option>
  </select><br><br><br>
    <input type="submit" value="Add expences"><br>
    <ul id="users"></ul><br>
    <div id='new'></div>
    <button id="rzp-button1">Buy Premium</button>
</form>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js" ></script>
<script>
  var Form=document.getElementById('addform')
  var expence=document.getElementById('expence');
  var description=document.getElementById('description');
  var category=document.getElementById('category');
  var userList=document.getElementById('users');
  var doc=document.getElementById('new');
  let flag=0;
  let usrid;


Form.addEventListener('submit',addUser);
//document.addEventListener('DOMContentLoaded',reload);
const token = localStorage.getItem('token');
function addUser(e)
{
    e.preventDefault();
    let Obj={
            expence:expence.value,
            description:description.value,
            category:category.value
        }

        if(flag==0){
          newUser(Obj);
        }
}

function reload(e){

e.preventDefault();

function showonscreen1(data){
  var name=data.name;
  var Data=data.expenes;
  if(Data.length>0){
    var newli=document.createElement('li');
    newli.className='name';
    newli.appendChild(document.createTextNode(`${name}`));
    expList.appendChild(newli)

    for(var i=0;i<Data.length;i++){
      var li=document.createElement('li');
      li.className='item';
      li.appendChild(document.createTextNode(`${Data[i].expence}-${Data[i].description}-${Data[i].category}`));

      expList.appendChild(li);
    }
}
}

function showonscreen(data)
{
var id=data.id
 var li=document.createElement('li');
 li.className='item';
 li.appendChild(document.createTextNode(`${data.expence}-${data.description}-${data.category}  `));

 var deleteBtn=document.createElement('button');
 deleteBtn.className='btn';
 deleteBtn.appendChild(document.createTextNode('delete'));
 li.appendChild(deleteBtn);

userList.appendChild(li);
userList.addEventListener('click',deleteuser);

function deleteuser(e)
{
    if(e.target==deleteBtn)
    {

        let li=e.target.parentElement;
        deletee(li,id);
        userList.removeChild(li);
    }
}
 }

 async function newUser(Obj)
     {
      const token=localStorage.getItem('token')
       let data=await axios.post("http://localhost:4000/add-expense",Obj,{headers:{'Authorization':token}})
       showonscreen(Obj);
     }

async function deletee(li,id){
  try{
    console.log(id,'342');
    const token=localStorage.getItem('token')
    let response =   await axios.delete(`http://localhost:4000/delete-expense/${id}`,{headers:{'Authorization':token}})
    console.log(response);
  }
  catch{
    throw new Error(response.data)
  }
}

function download(){
    axios.get('http://localhost:3000/download', { headers: {"Authorization" : token} })
    .then((response) => {
      console.log(response.data,'182');
        if(response.status === 200){
            //the bcakend is essentially sending a download link
            //  which if we open in browser, the file would download
           var a = document.createElement("a");
            a.href = response.data.fileUrl;
            a.download = 'myexpense.csv';
            a.click();

        } else {
            throw new Error(response.data.message)
        }

    })
    .catch((err) => {
        console.log(err)
    });
  }

    
document.getElementById('rzp-button1').onclick = async function (e) {
  e.preventDefault();
   const response  = await axios.get('http://localhost:4000/purchase/premiummembership', { headers: {"Authorization" : token} });
    console.log(response);
    var options =
    {
     "key": response.data.key_id, // Enter the Key ID generated from the Dashboard
     "name": "Test Company",
     "order_id": response.data.order.id, // For one time payment
     "prefill": {
       "name": "Test User",
       "email": "test.user@example.com",
       "contact": "1234567890"
     },
     // This handler function will handle the success payment
     "handler": function (response) {
         console.log(response);
         axios.post('http://localhost:4000/purchase/updatetransactionstatus',{
             order_id: options.order_id,
             payment_id: response.razorpay_payment_id,
         }, { headers: {"Authorization" : token} }).then(() => {
             alert('You are a Premium User Now')

         }).catch(() => {
             alert('Something went wrong. Try Again!!!')

         })
     },
  };
  const rzp1 = new Razorpay(options);
  rzp1.open();


  rzp1.on('payment.failed', function (response){
    console.log(response)
    alert('Something went wrong')
 });
}

  
  /*function showOnScreen(expense){
    const parentElement = document.getElementById('listOfExpenses');
    const expenseElement = `expense-${expense.id}`;
    parentElement.innerHTML += 
    `<li id = ${expenseElement}>
      ${expense.expenseamount} - ${expense.description} - ${expense.category}
      <button onclick='deleteExpense(event, ${expense.id}'>Delete Expense</button></li> `
  }*/
    
  window.addEventListener('DOMContentLoaded',()=>{
    const expenseDetails=document.getElementById('expense-details');
    const token = localStorage.getItem('token');
    const premiumTag= document.getElementById('premium-tag');
    const premiumBtn=document.getElementById('rzp-button1');
    axios.get('http://localhost:3000/premiumusers',{headers:{'Authorization':token}})
    .then(res=>{
        if(res.data.ispremiumuser==false){
            expenseDetails.remove()
        }
        if(res.data.ispremiumuser==true){
            premiumTag.innerHTML=('<h2>Premium User</h2>')
            premiumBtn.remove()
            axios.get('http://localhost:3000/getusers').then(res=>{
                const users=res.data.data;
                for(var i=0; i<users.length; i++){
                leaderBoardUsers(users[i])
            }
        })
        }


    }).catch(err => {
        console.log(err)
    })
})

//to show users on leaderboard
function leaderBoardUsers(user){
    const leaderBoard=document.getElementById('leaderboard');  
    const data=`<li>${user.name} <button onClick=showDetails(${user.id})>Show Details</button> </li>`
    leaderBoard.innerHTML+=data;
}

function showDetails(id){
    axios.get(`http://localhost:3000/getdetails/${id}`)
    .then(res=>{
        console.log(res,'<<<<details')   
        const datas=res.data.data;
        if(datas.length==0){
            showNull()
        }else{
            for(var i=0; i<datas.length; i++){
                showDetailsOnScreen(datas[i])
            } 
        }         
    }).catch(err => console.log(err))
}

// To show others details (premium feature)
function showDetailsOnScreen(data){
    const details=document.getElementById('other-details');
    const datas=`<li>${data.expence}-----${data.description}-----${data.category} </li>`
    details.innerHTML +=datas;
}


function showNull(){
    const details=document.getElementById('other-details');
    details.innerHTML="No Expense Added";
}

</script>
</body>
</html>
